jupyter-book>=0.15.0
sphinx>=4.0
sphinx-book-theme
myst-nb
sphinx-togglebutton
sphinx-copybutton
sphinx-thebe
sphinx-comments
sphinx-external-toc
sphinx-design
sphinxcontrib-bibtex
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
linkify-it-py
matplotlib
numpy
pandas
numba
scikit-allel